/* General Styles */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

body::-webkit-scrollbar-track {
  background-color: #fff; /* Set the background color of the scrollbar track */
}

body::-webkit-scrollbar-thumb {
  background-color: #d63031; /* Set the color of the scrollbar thumb */
  border-radius: 6px; /* Set the border radius of the scrollbar thumb */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #bb0f0f; /* Set the color of the scrollbar thumb */ /* Set the color of the scrollbar thumb on hover */
}

/* Header Styles */
header {
  background-color: #74b9ff;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px; /* Add margin for spacing */
}

.header-text {
  text-align: center;
}

.header_H1,
.header_P {
  margin: 0;
  text-shadow: 2% 2% 4% rgba(0, 0, 0, 0.3);
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 20px; /* Add margin for spacing */
}

/* Navigation Styles */
nav {
  background-color: #0984e3;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 1em;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #2d3436;
}

/* Section Styles */
section {
  padding: 2em;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

/* About Me Section Styles */
section.about-section {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Expertise Section Styles */
#expertise {
  text-align: center;
  padding: 2em;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.expertise-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 15px; /* Space between elements */
  justify-content: center;
  align-items: center;
}

.expertise-item {
  text-align: center;
  padding: 15px;
  border-radius: 8px;
  background-color: #3498db; /* Set a default background color */
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  width: 100%; /* Adjust the width as needed */
}

/* Systems Thinking */
.expertise-item.systems-thinking {
  background-color: #3498db;
}

/* Strategic Planning */
.expertise-item.strategic-planning {
  background-color: #e74c3c;
}

/* Collaboration */
.expertise-item.collaboration {
  background-color: #27ae60;
}

/* Leadership */
.expertise-item.leadership {
  background-color: #f39c12;
}

/* Agile */
.expertise-item.agile {
  background-color: #e67e22;
}

/* Lean */
.expertise-item.lean {
  background-color: #9b59b6;
}

/* Extreme Programming */
.expertise-item.extreme-programming {
  background-color: #2c3e50;
}

/* HTML */
.expertise-item.html {
  background-color: #e67e22;
}

/* CSS */
.expertise-item.css {
  background-color: #3498db;
}

/* JavaScript (JS) */
.expertise-item.js {
  background-color: #f39c12;
}

/* React */
.expertise-item.react {
  background-color: #61dafb;
}

/* Node.js */
.expertise-item.node {
  background-color: #8cc84b;
}

/* Express.js */
.expertise-item.express {
  background-color: #2c3e50;
}

/* Java */
.expertise-item.java {
  background-color: #d35400;
}

/* Spring Boot */
.expertise-item.spring-boot {
  background-color: #6db33f;
}

/* Python */
.expertise-item.python {
  background-color: #357c5a;
}

/* Django */
.expertise-item.django {
  background-color: #092e20;
}

/* Hover Effect */
.expertise-item:hover {
  transform: scale(1.05);
}

/* Testimonials Section Styles */
section.testimonials-section {
  padding: 2em;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.testimonial-container {
  display: flex;
  justify-content: center; /* Center the card on smaller screens */
  align-items: center; /* Align vertically on smaller screens */
  overflow-x: hidden; /* Hide horizontal overflow */
  flex-wrap: wrap; /* Ensure cards wrap to the next line */
}

.testimonial-card {
  width: 90%; /* Adjust the width as needed */
  max-width: 400px; /* Set a max-width if necessary */
  margin: 10px;
  padding: 10px;
  box-sizing: border-box; /* Include padding and border in the width */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
  text-align: center;
}

.testimonial-card:hover {
  transform: scale(1.05);
}

.testimonial-image {
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto 10px; /* Center the image above the text */
}

.testimonial-content {
  text-align: center;
}

.testimonial-name {
  font-size: 1.2em;
  margin: 0;
}

.testimonial-title {
  color: #555;
  margin: 0;
}

.testimonial-text {
  margin-top: 10px;
}

.pagination {
  display: flex;
  justify-content: center; /* Center the buttons on smaller screens */
  align-items: center; /* Align vertically on smaller screens */
  margin-top: 20px;
}

.pagination button {
  background-color: #0984e3;
  color: #fff;
  padding: 0.5em 1em;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #2d3436;
}

/* Contact Section Styles */
section#contact {
  text-align: center;
  padding: 20px;
}

form#contactForm {
  max-width: 400px;
  margin: 0 auto;
}

form#contactForm h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.form-row {
  margin-bottom: 20px;
}

form#contactForm label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  text-align: left;
}

form#contactForm input,
form#contactForm textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

form#contactForm input:focus,
form#contactForm textarea:focus {
  border-color: #0984e3;
}

form#contactForm button {
  background-color: #0984e3;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form#contactForm button:hover {
  background-color: #2d3436;
}